* {
  margin: 0;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  width: calc(100% - 20vw);
  height: auto; /* Important to keep aspect ratio */
  max-width: 100vw;
  max-height: 100vh; /* Make sure it doesn’t overflow vertically */
  background: #aee; /* just to see it */
  border: 2px solid orange;
}
