* {
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
.game-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}
canvas {
  width: calc(100% - 20vw);
  height: auto; /* Important to keep aspect ratio */
  max-width: 100vw;
  max-height: 100vh; /* Make sure it doesn’t overflow vertically */
  background: #fff; /* just to see it */
  border: 2px solid black;
}
